# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Large Files
public/demo.mp4

# Security
.env

# Tests and Logs
test*.js
test_extract.ts
tmp_url_test.js
build_log.txt
vite_log.txt
top_100_urls.txt
tsc_output_utf8.txt
dev-dist/
.firebase/
queue.json
